body {
	/*min-height: 2000px;*/
}

.navbar-static-top {
	margin-bottom: 19px;
}

#deditor {
	height: 1200px;
}

iframe {
    border: 0px;
	border-top: 1px solid black;
    width: 100%;
    min-height: 80%;
}

#dresult {
	margin-top: 10px;
}

#dextended-data {
	margin-bottom: 10px;
}
