body {
	/*min-height: 2000px;*/
}

.navbar-static-top {
	margin-bottom: 19px;
}

#deditor {
	height: 600px;
}

iframe {
    border: 0px;
    width: 100%;
    min-height: 80%;
}

#dresult {
	margin-top: 10px;
}

